*{
    margin: 0;
    padding: 0;
}/*Universal*/


/*Decoração basica para todos os elementos com a tag "a"*/
a{
    text-decoration: none;
    transition: 0.3s;
    color: #1a1a1a;
}

a:hover{
    opacity: 0.7;
}
/*Termina aqui a decoração*/

/* este nav é o principal para o menu do telemovel e pc*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
    height: 8vh;

}

.menu{
    border: transparent 3px solid;
} /*Class onde o menu ta a ser feito. Esta vaziu mas coloquei aqui para caso fosse necessario mexer*/

.logo{
    border: transparent 3px solid;
}/*Aqui é a logo da escola onde irei mexer mais tarde possivelmente*/

.nav-list{
    list-style: none;
    display: flex;
    border: transparent solid 3px;
    justify-content: center;
    align-items: center;
    
}

.nav-list li:hover{
    background-color: rgb(227, 240, 236);
}/*Quando passar o mouse por cima acontece algum efeito*/  

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    border: transparent 3px solid;
    text-align: center;
    
}

nav li{
    display: inline-block;
    
}

nav li a{
    display: inline-block;
    text-decoration: none;
    color: #45777a;
}



/*Dropdown menu apenas para pc(monitor)*/

.dropdown{
    border: transparent solid 2px;
    width: 150px;
    margin-top: 5px;

}

.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
    padding: 20px;
    width: 130px;

}

.dropdown-menu a{
    display: block;
    padding: 10px;
    border: 1px transparent solid;
    text-decoration: none;
    
}

.dropdown-menu a:hover{
    background-color: rgb(227, 240, 236);
}

.dropdown:hover .dropdown-menu{
    display: block;
}

#dropdown-sobre{
    border: transparent 3px solid;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}/*Isto é apenas para moficar o sobre nos*/

/*Termina aqui o dropdown menu*/

/*Aqui comeca a personalização do body*/

.container{
    border: transparent solid 3px;
    width: 100%;
    height: 100%;
    display: grid;

}/*DIV pai*/


/*Aqui mexo nos "filhos" os profissionais*/

.container-title{
    text-align: center;
    padding: 10px;

}

.container-profissionais{
    border: transparent 3px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-profissionais-mod{
    border: transparent 3px solid;
    width: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

}

.container-profissionais-mod img{
    width: 350px;
    height: 270px;
}/*mexer imagem aqui*/

.container-profissionais-mod h2{
    z-index: 99;
    position: absolute;
    text-align: center;
    color: whitesmoke;
    pointer-events: none;
    
}/*Aqui mexe no h2 qur esta por cima da imagem*/

/*Aqui paro de mexer nos profissionais.*/

/*Aqui mexo individualmente em cada curso*/
.container-itens{
    position: absolute;
    border: transparent 5px solid;
    width: 350px;
    height: 270px;
    opacity: 0.3;
    transition: opacity 0.5s ease; /* Transição suave para a opacidade */
    
}

.container-itens:hover {
    opacity: 0.7; /* Opacidade aumentada quando passa o mouse */
}
/*Termina aqui*/

/*Aqui comeca os cursos de aprendizagensa */

.container-aprendizagens{
    border: transparent 3px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-aprendizagens-mod{
    border: transparent 3px solid;
    width: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.container-aprendizagens-mod img{
    width: 350px;
    height: 270px;
}

.container-aprendizagens-mod h2{
    z-index: 99;
    position: absolute;
    text-align: center;
    color: whitesmoke;
    pointer-events: none;
}

/*Botao do menu para todos os dispositivos excluindo para os Pc */
.mobile-menu{
    cursor: pointer;
    display: none;/*display none aqui pois tou a configurar apenas para o pc nesta parte*/
}


.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #313131;
    margin: 8px;

}
/*Aqui termina o botao do menu*/


/*Aqui comeca a parte para telemoveis*/
@media (max-width:440px){

    body{
        overflow-x: hidden;

    }

    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }/*Animação*/
    }

    .dropdown:hover .dropdown-menu{
        display: none;
    }/*Isto remove o dropdown menu feito  para pc*/

    /*Personalizar botao do menu*/
    .btn-mobile{
        border: 3px  solid black;
        display: flex;
        flex-direction: column;
    }

    .btn-mobile button{
        border: none;
        background-color: whitesmoke;
        text-decoration: none;
        padding: 35px;
        color: #45777a;
        border: transparent 3px solid;
    }

    .btn-mobile a{
        text-decoration: none;
        color: #45777a;
        font-size: 19px;
        background-color: whitesmoke;
        opacity: 0,7;
    }

    .offcanvas-header{
        background-color: whitesmoke;
    }

    .offcanvas-body{
        background-color: whitesmoke;
    }
    
}
